
@media  (min-width: 64em) {
  
            
    .hero-text {
        left: 22px;
        position: relative;
        /* top: 7px; */
        top: -8px;
}
        
 
    .upgrades img {
        padding: 1rem 30%;
        }
        .upgrade {
            margin: 1rem 2rem;
            width: 100%;
        }
     
        .account-link {
            text-decoration: none;
            color: black;
        }
/* ======================= SINGLE VEHICLE ======================= */
.reviews {

    grid-template-columns: repeat(auto-fit, 480px);
}

    }